In [113]:
import pandas as pd
import twint
import nest_asyncio

nest_asyncio.apply()

In [114]:
# Configure
c = twint.Config()
c.Search = '@TheBridge_Tech'
c.Store_csv = True
c.Output = 'data/tweets.csv'
c.Since = '2022-01-01 00:00:00'
c.Hide_output = True
c.Debug = True

# Run
try:
    twint.run.Search(c)
except Exception as e:
    print(e)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [115]:
data = pd.read_csv('data/tweets.csv')

In [124]:
data.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [116]:
df = data[['id', 'tweet', 'created_at', 'date', 'user_id', 'name', 'username', 'retweets_count', 'replies_count', 'likes_count', 'quote_url']]

In [121]:
df['created_at'] = pd.to_datetime(df['created_at'])

/tmp/ipykernel_20495/329245698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['created_at'] = pd.to_datetime(df['created_at'])

In [123]:
df.head()

,id,tweet,created_at,date,user_id,name,username,retweets_count,replies_count,likes_count,quote_url
0,1528696920729956352,Terminando el desafio de tripulaciones en @The...,2022-05-23 13:18:42+02:00,2022-05-23,1528649918306557952,Nacho Esteban,nachooatm82,0,0,0,NaN
1,1528650844094271490,"""El libro de la inteligencia colectiva"" http...",2022-05-23 10:15:36+02:00,2022-05-23,41545659,Mario Lopez de Avila,nodosenlared,2,0,5,NaN
2,1528647207594909696,Este jueves nos vemos en @TheBridge_Tech para ...,2022-05-23 10:01:09+02:00,2022-05-23,4628161,Tíscar Lara,tiscar,0,0,1,https://twitter.com/arey/status/15286383075166...
3,1528641426975760389,Conoce las 25 ofertas de #empleo de la empresa...,2022-05-23 09:38:11+02:00,2022-05-23,987388686,Juan Luis Pavón,juanluispavon1,2,0,6,NaN
4,1528638307516694529,#LastMinute La 2da presentación del #LibroIC e...,2022-05-23 09:25:47+02:00,2022-05-23,15993641,Amalio A. Rey,arey,1,0,2,NaN